 #connexion {
     color: #F3D8BF!important;
     margin-top: 10%;
 }

 nav {
     background-color: #334547;
 }

 .form-floating, .form-control  {
     background-color: transparent!important;
 }

 .connexionBtn {
     background-color: #334547;
     padding: 10px 5px;
     text-align: center;
     font-size: 20px;
     border-radius: 10px 0px 0 0;
     border: none;
     color: #F3D8BF!important;
 }

 .inscriptionBtn {
     background-color: #49595B;
     padding: 10px 5px;
     text-align: center;
     font-size: 20px;
     border-radius: 0px 10px 0 0;
     border: none;
     color: #F3D8BF!important;
 }

 #connexionForm {
    background-color: #334547;
    padding: 10%;
    border-radius: 0 0px 10px 10px;
}

#connexion #formGroupEmailConnexion:focus,  #connexion #formGroupPwdConnexion:focus {
    outline: none;
    box-shadow: none;
    background: transparent;

}

#connexion label{
    font-size: 18px;

}

#connexion #formGroupEmailConnexion {
    margin-bottom: 25px;
}
 #connexion #formGroupPwdConnexion {
     margin-bottom: 40px;
 }

#formGroupEmailConnexion, #formGroupPwdConnexion{
    color: #F3D8BF!important;
    font-size: 14px;
    font-family: 'Segoe UI';
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
    background-color: #334547;
}

#connexion .btn {
    background-color: #F3D8BF;
    color: #334547;
    border: none;
    margin-top: 20px;
    text-align: center;
}

#connexion .btn:focus{
    outline: none;

}