#productsOut {
    height: 200px;
    overflow-y: auto;
}


.productsOut__rupture {
    background-color: #dc3545;
    padding: 2px;
    border-radius: 10px;
    border: none;
}
<<<<<<< HEAD
=======

.hidden {
    display: none;
}
>>>>>>> 41-ajouter-une-alertepopup-en-cas-de-rup
