.navBar_searchBar--label {
    font-size: 20px;
}

.navBar_searchBar {
    width: 65vw;
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    border-radius: 0;
    border-bottom: 2px solid #efefef;
}

.navBar_searchBar:focus {
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    box-shadow: none;
    border-bottom: 2px solid #efefef;
    color: white;
}

.navBar_link {
    font-size: 20px;
}
.navBar_link:hover {
    transition-duration: 600ms;
    color: white;
    font-size: 20px;
}
.navBar_logo {
    width: 200px
}

.sousNavTemporaire {
    height: 3vh;
}
/* Responsive */

@media (max-width: 992px) {
    .navBar_searchBar {
        width: 97vw;
    }
}
@media (max-width: 768px) {
    .navBar_searchBar {
        width: 95vw;
    }
}
@media (max-width: 350px) {
    .navBar_searchBar {
        width: initial;
    }
}