.me_disabled {
    color: #959595;
}
.me_btnSubmit {
    font-size: 22px;
}
.me_title {
    color: #39484B;
}
#Me_GenderInput--style input[type='radio']:after {
    width: 18px;
    height: 18px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid grey;
}

#Me_GenderInput--style input[type='radio']:checked:after {
    width: 18px;
    height: 18px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: rgba(127, 127, 127, 0.99);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid grey;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #000 !important;
}