.font_lobster {
    font-family: 'Lobster', cursive;
}

.font_cabin {
    font-family: 'Cabin', sans-serif;
}

.font_montserrat {
    font-family: 'Montserrat', serif;
}

.global_fontColorTest--charcoal {
    background-color: #424C55;
}

.global_fontColorCTA {
    background-color: #a2c8da;
}
.global_bgColor--whiteSmoke {
    background-color: #EFEFEF;
}


.form-control:focus {
    outline: none;
    box-shadow: none;
}